:root {
    --bs-primary-rgb: 173, 216, 230;
}

.nav-link {
    color: black !important;
}

.bg-grey {
    background-color: grey;
}

.text-white .nav-link {
    color: white !important;
}

.footer-font {
    font-size: small;
}

.fit-content {
    height: fit-content;
    width: fit-content;
}

.tiny-font {
    font-size: xx-small;
}

.copyright-font {
    color: gray;
    font-size: x-small;
}

.index-section {
    position: relative;
}

.index-image {
    height: 100%;
    width: 100%;
    opacity: 85%;
}

.index-caption {
    position: absolute;
    top: 1.5rem;
    left: 15%;
    right: 15%;
    /* padding-top: 1.25rem; */
    border-radius: 0.75rem;
    color: white;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

.caption-color-1 {
    background-color: rgba(255, 187, 0, 0.6);
}

.caption-color-2 {
    background-color: rgba(229, 231, 231, 0.6);
}

.about-us {
    background-color: rgba(245, 167, 0, 0.6);
    font-size: x-large;
    color: white;
}

.boxGroup {
    /* background-image: url("https://image.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg"); */
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.733) 0%,rgba(255, 255, 255, 0.733) 80%,rgba(177, 177, 177, 0.336) 100%), url(""); */
    background: linear-gradient(135deg, rgb(255, 255, 255) 30%, rgb(241, 241, 240) 80%, rgb(218, 218, 218) 100%, rgb(177, 177, 177));
    box-shadow: 6px 3px 3px rgba(92, 92, 92, 0.5);
    margin-bottom: 20px;
    padding: 20px;
}

.leftSide img {
    width: 100%;
    border-radius: 100%;
}

.rightSide {
    padding-left: 50px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(250, 242, 151, 1);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    color: black;
}

button:hover {
    background-color: #e8eca8
}

button:active {
    background-color: #e7f1ce;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.buttonClass {
    margin-top: 30px;
}

.allBox {
    margin-bottom: 50px;
}

.h1header {
    margin-top: 50px;
    margin-bottom: 20px;
}

textarea {
    max-width: 100%;
}

/* .navMainPage {
    margin-left: 100px;
} */

.navBarRight {
    margin-right: 100px;
}

.replyBox {
    display: none;
}

.replyBox1 {
    display: none;
}

.reviseBox {
    display: none;
}

.reviseBox1 {
    display: none; 
}

.replyButtonShow {
    display: inline;
    background-color: teal;
    color: white;
    /* padding: 10px 10px 10px 10px; */
    border-radius: 30px;
    margin-bottom: 10px;
}

.box img {
    max-width: 100%;
    object-fit: cover;
}

.box {
    margin-bottom: 20px;
}

.boxGroup1 img {
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 300px;
    object-fit: cover;
}

#firstInput {
    width: 50%
}

.firstInputLabel {
    width: 50%
}

.content {
    width: 80%;
    height: 100%;
}

.secondInputLabel {
    width: 80%;
    height: 300px;
}

.jumbotron {
    background-image: url(https://images.pexels.com/photos/7469213/pexels-photo-7469213.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
    margin-bottom: 0px;
    position: relative;
}

.replySubmitButton {
    display: none;
}

.reviseSubmitButton {
    display: none;
}

.clinic {
    background-color: rgba(34, 34, 34, 0.736);
    height: 50%;
    width: 100%;
    font-size: 25px;
    position: absolute;
    top: 50%;
    color: white;
    background-size: cover;
}


/* .clinicDetail{ */


/* position: relative; */


/* top:-18% */


/* } */


.reviseContent{
    width:24rem;
    height: 5rem;
}

.underBackground {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.767);
    box-shadow: 10px 5px 5px rgb(75, 74, 74);
    ;
}

.likeBox {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

.likeBox button {
    background-color: rgba(218, 217, 175, 0.278);
    margin-left: 30px;
    font-size: 16px;
}

.like {
    margin-left: 15px;
}


#iconPhoto {
    position: absolute!important;
    top: -40px;
}

.leftSideBg {
    background-color: rgba(173, 173, 173, 0.551);
}

.rightSideBg {
    padding-left: 6em;
}

.replyUnderBox {
    padding-left: 5rem;
}

.replyUnderBox p {
    margin-bottom: 15px;
    background-color: rgba(128, 128, 128, 0.267);
}

.replyContent {
    width: 80%;
    height: 5rem;
}

.replyContentLabel {
    width: 30rem;
}

.buttonGroup{
    margin-top:3rem ;
}

.replyGroup{
    margin-top:3rem;
}

.boxGroup2{
    background: linear-gradient(135deg, rgb(255, 255, 255) 30%, rgb(241, 241, 240) 80%, rgb(218, 218, 218) 100%, rgb(177, 177, 177));
    box-shadow: 6px 3px 3px rgba(92, 92, 92, 0.5);
    margin: 50px 20px 20px 20px;
    padding: 20px;
}

.h1header1{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.userIcon{
   border-radius: 100%;
   max-height:9.5rem ;
   margin-top: 5px !important;
}

#iconPhoto{
    height: 15rem;
    max-width: 25rem;
    
}

#iconPhoto img{
    height: 100%;
    width: 100%;
    
}
@media screen and (max-width: 992px) {
    #iconPhoto{
        height: 15rem;
        max-width: 20rem;
    }
}

@media screen and (max-width: 768px) {
    #iconPhoto{
        height: 12rem;
        max-width: 20rem;
    }
    #iconPhoto {
        position: absolute!important;
        top: -200px;
    }
}

@media screen and (max-width: 1114px) {
    .reviseContent{
        width:15rem;
        height: 5rem;
    }
    .replyContent{
        width: 15rem;
    }
}

@media screen and (max-width: 772px) {
    .clinic {
        font-size: 20px;
    }
}

@media screen and (max-width: 372px) {
    .clinic {
        font-size: 15px;
    }
}