:root {
    --bs-primary-rgb: 173, 216, 230;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav-link {
    color: black !important;
}

.bg-grey {
    background-color: grey;
}

.text-white .nav-link {
    color: white !important;
}

.footer-font {
    font-size: small;
}

.fit-content {
    height: fit-content;
    width: fit-content;
}

.tiny-font {
    font-size: xx-small;
}

.copyright-font {
    color: gray;
    font-size: x-small;
}

.rightSideBg{
    padding-left: 20px ;
}

.link-button{
    text-decoration: none;
    color: black
}

/* .navMainPage {
    margin-left: 6rem;
} */

.navBarRight {
    margin-right: 6rem;
}

.navbar{
    padding-top: 0 !important;
    padding-bottom: 0!important;
}

.noResult{
    font-size: 30px;
    text-align: center;
    margin-left: 35rem;
    margin-top: 5rem;
}