.index-section {
    position: relative;
}

.index-image {
    height: 100%;
    width: 100%;
    opacity: 85%;
}

.index-caption {
    position: absolute;
    top: 1.5rem;
    left: 15%;
    right: 15%;
    /* padding-top: 1.25rem; */
    border-radius: 0.75rem;
    color: white;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

.caption-color-1 {
    background-color: rgba(255, 187, 0, 0.6);
}

.caption-color-2 {
    background-color: rgba(211, 231, 233, 0.6);
}

.about-us {
    background-color: rgba(245, 167, 0, 0.6);
    font-size: x-large;
    color: white;
}

.mainContent{
    text-align: center;
}
.textBox input{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    padding: 10px 10px 10px 10px;
}

.textBox textarea{
    border-radius: 20px;
    margin-top: 10px;
    max-width: 100%;
}
.submitBox input{
    position: relative;
    right: 1.5rem;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 20%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 50px;
}

.upperBox{
    height: 165px;
    padding: 20px;
}

h1{
    margin-top: 30px;
}

.container1{
    background-color: blanchedalmond;
}

.myAccount{
    background-color: burlywood;
}
.basicContent{
    background-color: white;
    position: relative;
    right: 10rem;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 6%);
    margin-top: 5em;
    margin-bottom: 5em;
}
/*     
    padding: 30px 50px 30px 50px;
    margin:50px 50px 50px 50px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 6%); */

.upbox{
    width:100%;
}
.box{
    border-color:#fff ;
    box-shadow: 0 1px 3px 0px rgb(0 0 0 / 8%);
    border: 1px solid #dbdbdb;
}

div h1{
    margin-left: 50px;
}

#sidebarMenu{
    background-color: rgba(251, 253, 253, 0.185);
}

.textBox{
    margin-top: 15px;  
}

.normalBox{
    width: 50%;
}

.ownLine{
    display: block!important;
}

.submitBox{
    margin-left: 50px;
}

.submitBox input{
    background-color: teal;
    color:white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    margin-bottom: 50px;
}

/* h3{ */
    /* text-align: center; */
/* } */

.fa-file-alt{
    margin-top: 2rem;;
}

#msg{
    padding: 1rem;
}

.error {
    color: red !important;
}

.success {
    color: green !important;
}

.btn-primary {
    color: black;
    background-color: rgb(122, 175, 255);
    border-color: rgb(122, 175, 255);
} */

button{
    margin-bottom: 10em;
    margin-right: 30px;
}

.submitInfo{
    margin-right: 30px;
}

.msgTextArea{
width: 28rem;
height: 15rem;
}

.submitBox{
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .basicContent {
       margin-left: 15rem;
    }
    .msgTextArea{
        width: 15rem;
        }
}