#title {
  font-size: 50px;
  margin-top: 2rem;
}

.topicBox {
  margin-top: 3rem;
  margin-left: 9rem;
  margin-bottom: 3rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0.5em 0.5em 0 0 rgba(24, 23, 23, 0.137);
  width: 60rem;
  height: 60rem;
  padding: 1rem;
}

/* .vet:hover{
    cursor: pointer;
    transform: scale(1.2);
} */


.topicDetail{
    background-color: rgba(128, 128, 128, 0.288);
    padding: 1rem;
    width: 55rem;
    border-radius: 2rem;
    margin-left: 1.5rem;
}
.topicList {

  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.topicDetail:hover {
  cursor: pointer;
  transform: scale(1.05);
}
