body {
  background-color: #add8e6 !important;
}

@font-face {
  font-family: "Anybody";
  src: url("https://assets.codepen.io/1492907/Anybody.woff2") format("woff2");
}

#message_display1{
    padding: 0.5rem;
    height: 14rem;
    width: 20rem;
    overflow-y: scroll;
}

#message_display2{
    padding: 0.5rem;
    height: 14rem;
    width: 20rem;
    overflow-y: scroll;
}

.groupChat{
    display: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 25rem;
    margin-left: 3rem;
}

#leaveRoom{
    display: none;
}

#chatroom{
    display: none;
    margin-top: 1rem;
    margin-left: 3rem;
    width: 25rem;;
    /* height: 30rem; */
    /* width: 50%; */
    margin-right: 4rem;
    margin-bottom: 2rem;
}


#submit{
    background-color: rgba(49, 48, 48, 0.075);
    border-radius: 2rem;
    width: 2rem;
    cursor: pointer;
    background-color: white;
    /* margin: 1rem; */
} * {
  font-family: "Anybody";
  margin: 0;
}

.intro{
    background-image: url(background/photo10.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 8rem;
    margin-bottom: 0px;
}

h1 {

  padding: 2rem; 
  color: #0e0e0e;
  font-variation-settings: "wght" 1000;
  font-size: 3rem;;
  /* margin: 1rem; */
    text-align: center;
}

.joinBtn{
    margin-top: 1rem;
}

#backhome{
  margin-left: 1rem;
  text-decoration: none;
}
/* #chatA {
  display: block;
  margin-top: 15px;
} */

#message_display {
  padding: 0.5rem;
  height: 14rem;
  width: 20rem;
  overflow-y: scroll;
}

#submit {
  /* background-color: rgba(49, 48, 48, 0.075); */
  border-radius: 2rem;
  width: 2rem;
  height: 1rem;
  font-size: 0.5rem;;
  /* margin: 1rem; */
}

.container {
  margin-left: 20%;
  margin-right: 20%;
}

#guess {
  width: 10rem;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

#onlineList {
  /* height: 45rem; */
  /* width: 20rem; */
  margin-right: 4rem;
  padding: 1rem;
  /* overflow-y: scroll; */
}

#playersScroll{
    overflow-y: scroll;
    height: 33rem;
    width: 25rem;
}

/* #chatroom_playerName {
  height: 35rem;
  width: 15.5rem;
  
  /* margin-left: 5rem; */
  /* margin-top: 1rem; */


.game-controller {
  /* margin-right: 3rem; */
  
  font-size: 2rem;
  width: 25rem;
  padding: 1rem;
  height: 35rem;
}

#chatButton {
  position: relative;
  left: 3rem;
  width: 25rem;
}

.btn {
  border: 2rem black;
  border-radius: 1rem;
  cursor: pointer;
  /* font-size: 2rem; */
  margin-bottom: 1rem;;
}


#chatTextForm{
    position: relative;
    left: 1rem;
    bottom: 0.5rem
}

#players{
  width: 25rem;
}

.score{
  display: block;
}

#simple-msg{
  display:none
}

#roomChat{
  display: none;
}

#chatBtn{
  margin-left: 1rem;
}


@media screen and (max-width: 2000px) {
    .game-controller {
        width: 20rem;
    }
    #playersScroll{
        width: 20rem
    }
    #chatButton{
        width: 20rem;
    }
    #groupChat{
        width: 20rem
    }
    #chatroom{
        width:20rem
    }
    /* .container {
        margin-left: 15%;
      } */
  }

  @media screen and (max-width: 1620px) {
    .game-controller {
        width: 15rem;
    }
    .container {
        margin-left: 10%;
        margin-right: 10%;
      }
    #chatButton{
        width: 15rem;
    }
    #groupChat{
        width: 15rem
    }
    #chatroom{
        width:15rem
    }
  } 

  @media screen and (max-width: 1366px) {
    .game-controller {
        width: 15rem;
    }
    .container {
        margin-left: 5%;
        margin-right: 5%;
      }
    #playersScroll{
        width: 10rem
    }
    #onlineList{
        width: 15rem
    }
    
  } 

  @media screen and (max-width: 1088px) {
    #message_display{
        width: 10rem;
    }
    #onlineList{
        width: 10rem
    }
    .game-controller {
        width: 13rem;
    }
    #message_display{
        width: 10rem
    }
    #message_display1{
        width: 10rem
    }
    #message_display2{
        width: 10rem
    }
  }

  #predictedLabel{
    font-size: 2rem;;
  }

  /* #uploaded{
    width: 5rem;
    height: 5rem;
  } */

  #predictedLabelTopFive{
    font-size: 0.5rem;
    margin-top: 0;
  }

  @media screen and (max-width: 848px) {

    #playersScroll{
        width: 25rem;
        height: 10rem;
    }
    #message_display{
        width: 24.5rem;
    }
    #message_display1{
        width: 24.5rem
    }
    #message_display2{
        width: 24.5rem
    }
    #chatButton{
        left: 0;
    }
    .row{
        display: block;
    }
    #chatroom{
        margin-left: 0;
    }
    #groupChat{
        margin-left: 0;
    }
    #checkRoom{
        width: 25rem;
        margin-right: 4rem; 
        padding: 1rem;
    }
  }
