body {
  background-color: #add8e6;
}

#login_form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

#title {
  margin: 3rem;
  margin-right: 1rem;
  font-size: 2rem;
}

#player_name {
  font-size: 2rem;
}

#start {
  font-size: 2rem;
  margin-left: 1rem;
}
.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  left: 37%;
  top: 10rem;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgb(95, 30, 30);
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

#login-result {
  font-size: 3rem;
  position: relative;
  left: 40%;
}
