.index-section {
    position: relative;
}

.index-image {
    height: 100%;
    width: 100%;
    opacity: 85%;
    /* object-fit: scale-down; */
}

.index-caption {
    position: absolute;
    top: 3rem;
    /* left: 15%; */
    right: 4rem;
    /* padding: 5 */
    padding-top: 6rem;
    padding-bottom: 5rem;
    border-radius: 55rem;
    width: 20rem;
    height: 20rem;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}
#main{
    font-size: 3rem;
}

.second{
    left: 2rem;
}
.caption-color-1 {
    background-color: rgba(255, 187, 0, 0.651);
}

.caption-color-2 {
    background-color: rgba(211, 231, 233, 0.473);
}

.about-us {
    background-color: rgba(245, 167, 0, 0.6);
    font-size: x-large;
    color: white;
}
