.profilePic{
    width:100px;
    height:100px;
    border-radius: 50px;
}
div p{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .bgColor{
   background-color:rgba(9, 230, 182, 0.2)
} */
.myAccount div{
    text-align: center;
    margin-bottom: 20px;
}

.basicContent{
    background-color: white;
    padding: 30px 50px 30px 50px;
    margin-top: 50px;
    /* margin:50px 50px 50px 50px; */
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 6%);
}

.basicUpper{

}
.upperinfo{
 
}
.upbox{
    width:100%;
}
.box{
    border-color:#fff ;
    box-shadow: 0 1px 3px 0px rgb(0 0 0 / 8%);
    border: 1px solid #dbdbdb;
}

div h1{
    margin-left: 50px;
}

#sidebarMenu{
    background-color: rgba(76, 232, 243, 0.185);
}

.textBox{
    margin-top: 15px;  
}

.normalBox{
    width: 50%;
}

.ownLine{
    display: block!important;
}

.submitBox{
    margin-left: 50px;
}

.submitBox input{
    background-color: teal;
    color:white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
}

img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
}

.iconInput {
    position: relative;
    left: 4rem;
}
.iconinfo{
    text-align: center;
}

.remove{
    position: relative;
    left: 0.75rem;
}
