.login-photo {
    width: 100%;
    max-height: 25vh;
    object-fit: scale-down;
}

.register-photo-section {
    background-color: white;
}

.btn-primary {
    color: black;
    background-color: rgb(122, 175, 255);
    border-color: rgb(122, 175, 255);
}

h4{
    margin-top: 3rem;
    text-decoration: underline;
}

h1{
    display:flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 2rem;
}

h3{
    margin-top: 3rem;
    text-decoration: underline;
}

body .div{
    margin-top: 2rem;
}
