.register-photo {
    width: 100%;
    max-height: 25vh;
    object-fit: scale-down;
}

.register-photo-section {
    background-color: white;
}

.btn-primary {
    color: black;
    background-color: rgb(122, 175, 255);
    border-color: rgb(122, 175, 255);
}

.error {
    color: red !important;
}

.success {
    color: green !important;
}