:root {
  --bs-primary-rgb: 173, 216, 230;
}

.nav-link {
  color: black !important;
}

.bg-grey {
  background-color: grey;
}

.text-white .nav-link {
  color: white !important;
}

.footer-font {
  font-size: small;
}

.fit-content {
  height: fit-content;
  width: fit-content;
}

.tiny-font {
  font-size: xx-small;
}

.copyright-font {
  color: gray;
  font-size: x-small;
}

.index-section {
  position: relative;
}

.index-image {
  height: 100%;
  width: 100%;
  opacity: 85%;
}

.index-caption {
  position: absolute;
  top: 1.5rem;
  left: 15%;
  right: 15%;
  /* padding-top: 1.25rem; */
  border-radius: 0.75rem;
  color: white;
  font-weight: 700;
  font-size: x-large;
  text-align: center;
}

.title {
  font-size: 50px;
  /* text-decoration: underline; */
}

/* .caption-color-1 {
    background-color: rgba(255, 187, 0, 0.6);
}

.caption-color-2 {
    background-color: rgba(238, 251, 252, 0.6);
} */

.about-us {
  background-color: rgba(245, 167, 0, 0.6);
  font-size: x-large;
  color: white;
}

.buttonClass {
  display: flex;
  align-items: end;
  /* justify-content: flex-end; */
  flex-wrap: wrap;
  /* margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 1rem; */
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 1rem;
}

.searchFilter {
  margin-right: 20px;
}

/* .list-and-map {
  overflow: scroll;
} */

.totalBox {
  /* display: flex;
  flex-wrap: wrap; */
  height: 80vh;
}

.boxGroup1 {
  /* display: flex;
  flex-wrap: wrap; */
  cursor: pointer;
  overflow: scroll;
  width: 100%;
  height:100%;
}

.boxGroup {
  /* background-color: rgba(239, 247, 247, 0.836); */
  background-color: rgb(247, 245, 244);
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  border-radius: 1rem;
  height: 20rem;
  /* width: 25rem; */
  margin-right: 1rem;
  margin-left: 1rem;
  box-shadow: 0.2rem 0.2rem 0.1rem 0.05rem rgba(0, 0, 255, 0.05);
}

.boxGroup:hover {
  transform: translate(2px, -2px);
}

div img {
  width: 50px;
  height: 60px;
  border-radius: 20px;
}

.imgBox {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box {
  margin-left: 20px;
}

.upperBox {
  height: 165px;
  padding: 20px;
}

h1 {
  margin-top: 30px;
  margin-left: 1rem;
}

.container1 {
  background-color: blanchedalmond;
}

#map {
  position: relative;
  height: 80rem;
  width: 99.9%;
  max-height: 80vh;
}

/* footer{
    position: fixed;
    bottom: -20px;
    width: 100%;
} */

/* 


display: -webkit-box;
    height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

*/
