.title {
    font-size: 50px;
    /* text-decoration: underline; */
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.icon {
    background-color: rgba(247, 247, 247, 0.678);
    border-radius: 350px;
    width: 15rem;
    height: 15rem;
    margin-left: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update {
    display: flex;
    justify-content: flex-end
}

.sub {
    font-size: 20px;
}

.fa-plus {
    background: white;
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
    cursor: pointer;
}

#vac {
    margin-bottom: 2.25px;
    width: 150px;
    height: 34px;
}

.next {
    display: flex;
    justify-content: flex-end;
}

.choice {
    margin: 0.75rem;
}

table {
    width: 61em;
}

.calendar-content .today {
    background-color: #13709e;
}

.vactype {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 20px;
}

.tTitle {
    display: flex;
    justify-content: space-evenly;
    display: relative;
}

.historyInput {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 20px;
}

#vac {
    position: relative;
    left: 1rem;
}

#vacdate {
    position: relative;
    left: 2rem;
}

#sickHistory {
    position: relative;
    left: 0.5rem;
}

#sickDate {
    position: relative;
    left: 3rem;
}

.form-control {
    border-color: black;
}

.dogHidden {
    display: none;
}

.catHidden {
    display: none;
}

img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
}

table {
    position: relative;
    left: 4rem;
}

#date {
    border-radius: 0;
    border-width: 0.5px;
}

.iconInput {
    position: relative;
    left: 5rem;
}

.remove {
    position: relative;
    left: 7rem;
}

.swal2-styled.swal2-confirm {
    background-color: rgb(105, 184, 221) !important;
    /* border-color: rgb(105, 184, 221) !important; */
}

.choice {
    position: relative;
    right: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 5rem;
}

.hidden{
    display: none;
}