#title {
  font-size: 50px;
  /* text-decoration: underline; */
  margin-top: 2rem;
}

.card {
  margin-left: 6rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 6px 6px rgb(133, 130, 130);
}

.card:hover {
  transform: scale(1.1);
}

.addPet:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: black;
}

.petIcon {
  width: 15rem;
  height: 15rem;
  background-color: rgba(128, 128, 128, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15rem;
  margin-bottom: 10px;
  position: relative;
  left: 0.5rem;
  top: 3rem;
}

.petInfo {
  padding: 1rem;
  margin-bottom: 0rem;
}

.petName {
  text-decoration: underline;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.petAge {
  display: flex;
  justify-content: center;
}

.update {
  position: relative;
  left: 0.5rem;
  width: 15rem;
}

.special {
  padding: 4rem;
  padding-top: 8rem;
  background-color: rgb(173, 216, 230);
  border: 0px;
  box-shadow: 0px 0px 0px 0px;
}

.addPet {
  width: 12rem;
  height: 12rem;
  background-color: rgb(255, 255, 255);
  font-size: 8rem;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 12rem;
  align-items: center;
  box-shadow: 8px 6px 6px grey;
}

.sex {
  position: relative;
  left: 13.5rem;
  bottom: 17rem;
  font-size: 2.5rem;
}

.fa-venus {
  color: pink;
}

.fa-mars {
  color: rgb(173, 216, 230);
}

img {
  width: 16rem;
  height: 16rem;
  border-radius: 15rem;
  object-fit: cover;
  position: relative;
  top: 0.5rem;
  
}
