body{
    background-color: rgba(212, 211, 211, 0.116);
}

.nav-link {
    color: black !important;
}


.bg-grey {
    background-color: grey;
}

.text-white .nav-link {
    color: white !important;
}

.footer-font {
    font-size: small;
    color:rgba(192, 192, 192, 0.7)
}

.fit-content {
    height: fit-content;
    width: fit-content;
}

.tiny-font {
    font-size: xx-small;
}

.copyright-font {
    color: gray;
    font-size: x-small;
}


.index-section {
    position: relative;
}

.index-image {
    height: 100%;
    width: 100%;
    opacity: 85%;
}

.index-caption {
    position: absolute;
    top: 1.5rem;
    left: 15%;
    right: 15%;
    /* padding-top: 1.25rem; */
    border-radius: 0.75rem;
    color: white;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

/* .caption-color-1 {
    background-color: rgba(255, 187, 0, 0.6);
}

.caption-color-2 {
    background-color: rgba(238, 251, 252, 0.6);
} */

.about-us {
    background-color: rgba(245, 167, 0, 0.6);
    font-size: x-large;
    color: white;
}
.totalBox{
    display: flex;
    flex-wrap: wrap;
}

.boxGroup{
    /* background-color: rgba(239, 247, 247, 0.836); */
    background-color: rgb(247, 245, 244);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    height:350px;
    width: 500px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, 0.05);
}
.boxGroup:hover{
    transform: translate(8px,-8px);

}
.buttonClass{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
}

.searchFilter{
    margin-right: 20px;
}

.imgBox{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div img{
    width: 50px;
    height: 60px;
    border-radius: 20px;
}
.upperBox{
    height: 165px;
    padding: 20px;
}

h1{
    margin-top: 30px;
}

.container1{
    background-color: blanchedalmond;
}

.myAccount{
    background-color: burlywood;
}
.basicContent{
    background-color: white;
    padding: 30px 50px 30px 50px;
    margin:50px 50px 50px 50px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 6%);
}

.basicUpper{

}
.upperinfo{
 
}
.upbox{
    width:100%;
}
.box{
    border-color:#fff ;
    box-shadow: 0 1px 3px 0px rgb(0 0 0 / 8%);
    border: 1px solid #dbdbdb;
}

div h1{
    margin-left: 50px;
}

#sidebarMenu{
    background-color: rgba(76, 232, 243, 0.185);
}

.textBox{
    margin-top: 15px;  
}

.normalBox{
    width: 50%;
}

.ownLine{
    display: block!important;
}

.submitBox{
    margin-left: 50px;
}

.submitBox input{
    background-color: teal;
    color:white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    margin-bottom: 50px;
}

.error {
    color: red !important;
}

.success {
    color: green !important;
}


#vetClinicDetails{
    padding: 1rem;
    
}